h1 {
    text-align: center;
    color: white;
    font-family: 'Creepster';font-size: 125px;
}

body {
    background-color: black;
}

#container {
border-style: dotted;
border-color: red;
text-align: center;
}

#play {
    border-left-style: dotted;
    border-color: red;
    color: white;
    font-family: 'Creepster';
    /* font-family: 'Fjalla One', sans-serif; */
    /* font-family: 'Slabo 13px', serif; */
    /* font-family: 'Big Shoulders Text', cursive; */
    font-size: 25px;
    line-height: 40px;
}

.answerImage {
    width: 350px;
    margin-left: 50px;
    margin-top: -800px;
    padding-bottom: 100px;
    visibility: hidden;
  }

  #resultTextChange {
    font-family: 'Creepster';
    text-align: center;
    font-size: 30px;
    color: greenyellow;
  }

#skull {
    text-align: center;
    margin-top: 150px;
}

@media only screen and (max-width: 600px) {
    h1 {
        text-align: center;
        color: white;
        font-family: 'Creepster';font-size: 50px;
    }

    #container {
        border-style: dotted;
        border-color: red;
        text-align: center;
        width: 100%;
        }
        #play {
            border-left-style: dotted;
            border-color: red;
            color: white;
            font-family: 'Creepster';
            font-size: 12px;
            line-height: 20px;
        } 
        .answerImage {
            width: 100%;
            margin-left: 50px;
            margin-top: -800px;
            padding-bottom: 100px;
            visibility: hidden;
          }
        
          #resultTextChange {
            font-family: 'Creepster';
            text-align: center;
            font-size: 18px;
            color: greenyellow;
          }
        
        #skull {
            text-align: center;
            margin-top: 150px;
        }
        

}

/* KEYBOARD */

#keyboard {
    display:inline-block;
    padding:10px 15px;
    border:1px solid black;
    border-radius:10px;
    background-color:red;
    text-align:center;
    box-shadow:4px 4px 4px #999;
 }
#keyboard div {
    padding:5px 0;
 }

#keyboard label {
    margin-top:20px;
    font-family:serif;
    text-decoration:underline;
 }
#keyboard input {
    box-shadow:2px 2px 2px #666;
 }
#keyboard input[type="text"] {
    margin-top:20px;
    border:1px solid #666;
    border-radius:4px;
    box-shadow:none;
 }
